@import url(../../bootstrap/css/bootstrap.css);
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
html *
{
	font-family:'나눔고딕', NanumGothic, 'fontng', 'Nanum Gothic' !important;
}
.margintop{
	margin-top:2px;
}
.buttontext{
	    color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.textcenter{
	text-align:center;
}
a{
    color: #1A5CC8;
    text-decoration: none;
}
a:hover {
    color: orange;
    text-decoration: underline;
}
h2 {
    color: black;
}
#wrapper {
    width: 70% !important;
    position: relative;
    left: 15% !important;
}
input{
	width:100px;
}


.toprow a {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
}
.toprow a:hover {
    color: orange;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
}

body {
    background-color: #FFFFFF;
}
.hd {
    color: #FFFFFF;
    font-weight: bold;
}
.time {
    text-align: right;
}
.ip {
    padding-right: 5px;
    text-align: right;
}
tr.userinfo {
    background-color: #FFFFF0;
    font-size: 16px;
}
span.yes {
    color: green;
    font-weight: bolder;
}
span.no {
    color: red;
    font-weight: bolder;
}
.green {
    color: green;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.gray {
    color: gray;
}
.orange {
    color: orange;
}
.navy {
    color: navy;
}
span.exadmin {
    color: gray;
}
.center,#center {
	width=100%;
    text-align: center;
}
div.content {
    background: none repeat scroll 0 0 #E4F0F8;
    font-family: Times New Roman;
    height: auto;
    margin: 0;
    padding: 0 20px;
    text-align: left;
    white-space:normal;
}
.sampledata {
    background: none repeat scroll 0 0 #8DB8FF;
    font-family: Monospace;
    font-size: 18px;
    white-space: pre;
}
#head {
    height: 53px;
    position: static;
    text-align: center;
    visibility: visible;
    width: 100%;
    z-index: 1;
}
#menu {
    background: url("image/menu_bg.png") repeat scroll 0 0 transparent;
    font-weight: bold;
    height: 35px;
    position: static;
    text-align: center;
    visibility: visible;
    width: 100%;
    z-index: 2;
}
.menu_item {
    display: inline;
    position: relative;
    top: 5px;
    vertical-align: bottom;
}
.menu_item a {
    color: #FFFFFF;
    font-size: 20px;
    top: 2px;
}
.menu_item_selected{
    color:orange;
}

#profile {
    font-weight: bold;
    height: 32px;
    left: 0;
    position: absolute;
    text-align: right;
    top: 0;
    visibility: visible;
    width: 100%;
    z-index: 3;
}
#broadcast {
    color: red;
    height: 50px;
    position: static;
    text-align: center;
    visibility: visible;
    width: 100%;
    z-index: 4;
}
#main {
    height: auto;
    position: static;
    width: 100%;
    z-index: 6;
}
#foot {
    height: 133px;
    position: static;
    text-align: center;
    visibility: visible;
    width: 100%;
    z-index: 7;
}
#logo {
    position: static;
    vertical-align: middle;
}

